@charset "utf-8";

/******************* 1. 상단영역 *******************/


  
  /* 1-1.메인로고 */
  .logo{
    position: relative;
    padding: 20px;
    text-align: center;
  }
  .logo img{
    width: 100px;
  }


  .tmenu>ul{
    position: absolute;
    top: -50px;
    right: 0;
    /* 부모는? .tmenu */
  }
  
  /* 탑메뉴 상위li */
  .tmenu>ul>li{
    padding: 0 5px;
  }
  
  /* 탑메뉴 상위a요소 */
  .tmenu>ul>li>a{
    /* 글자크기 (15px) */
    font-size: 1.5rem;
  }